{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Grid</title>
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="product-filter">

        <h1>Products</h1>
    
        <div class="sort">
            <form class="collection-sort" action="/" method="POST">
                {% csrf_token %}
                <a href="{% url 'product_add' %}">Add a New Product</a>
                <label>Sort by:</label>
                <select id="sorty" name="sort">
                    <option value="/">Featured</option>
                    <option value="/AtoZ">A - Z</option>
                    <option value="/LowtoHigh">Price: Low to High</option>
                </select>
                <button type="submit">Sort</button>
            </form>
    
        </div>
    
    </nav>

    <!-- <section class="products">

        {% for product in all_products%}
        <div class="product-card">
        <div class="product-image">
            <img src="{{product.image}}" alt="product image" width="200" >
        </div>
        <div class="product-info">
            <h5>{{product.title}}</h5>
            <h5>Quantity {{product.quantity}}</h5>
            <h6>${{product.price}}</h6>
            <a href="{% url 'product_desc' product.id %}">Description</a>
            <a href="{% url 'product_edit' product.id %}">Edit</a>
        </div>
        </div>
        {% endfor %}
    
    </section> -->
<hr>

<div class="container">
    <!-- <div class="well well-sm">
        <strong>Products</strong>
    </div> -->

    <div class="grid">

        <div class="content">
            <ul class="rig columns-4">
                {% for product in all_products%}
                    <li>
                        <img class="product-image" src="{{product.image}}" alt="Product Image">
                        <h4>{{product.title}}</h4>
                        <p>{{product.desc}}</p>
                        <p>Quantity: {{product.quantity}}</p>
                        <div class="price">${{product.price}}</div>
                        <hr>
                        <button class="btn btn-default btn-xs pull-right" type="button">
                            <i class="fa fa-cart-arrow-down"></i> Add To Cart(Delete)
                        </button>
                        <button class="btn btn-default btn-xs pull-left" type="button">
                            <a href="{% url 'product_desc' product.id %}"><i class="fa fa-eye"></i> Details</a>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        
    </div>

</div>


</body>
</html>